In [71]:
from  matplotlib import pylab
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

from urllib.request import urlopen
from bs4 import BeautifulSoup
import re

In [9]:
url="https://www.hubertiming.com/results/2018MLK"
html=urlopen(url)

In [10]:
soup=BeautifulSoup(html)

In [12]:
title=soup.title
print(title.text)

Race results for the 2018 MLK Dream Run!

In [15]:
links=soup.find_all('a',href=True)
for link in links:
    print(link['href'])

https://www.mlkdreamrun.com/
mailto:timing@hubertiming.com
https://www.hubertiming.com
/results/2018MLK10K
/results/2018MLK15K
/results/summary/2018MLK
#tabs-1
https://www.hubertiming.com/
https://facebook.com/hubertiming/

In [26]:
data=[]
rows=soup.find_all("tr")
for row in rows:
    row_list=row.find_all("td")
    dataRow=[]
    for cell in row_list:
        dataRow.append(cell.text)
    data.append(dataRow)
    

# print(data[1:])

In [45]:
df=pd.DataFrame(data)
# print(data)
print(df.head())

           0     1     2     3     4     5     6     7     8     9     10  \
0        None  None  None  None  None  None  None  None  None  None  None
1  Finishers:   191  None  None  None  None  None  None  None  None  None
2       Male:    78  None  None  None  None  None  None  None  None  None
3     Female:   113  None  None  None  None  None  None  None  None  None
4        None  None  None  None  None  None  None  None  None  None  None

     11    12    13
0  None  None  None
1  None  None  None
2  None  None  None
3  None  None  None
4  None  None  None

In [48]:
headersL=[]
headers=soup.find_all('th')
for col in headers:
    headersL.append(col.text)
print(headersL)

['Place', 'Bib', 'Name', 'Gender', 'Age', 'City', 'State', 'Chip Pace', 'Chip Time', 'Gender Place', 'Age Group', 'Age Group Place', 'Time to Start', 'Gun Time']

In [50]:
df.columns=headersL
print(df.head())

        Place   Bib  Name Gender   Age  City State Chip Pace Chip Time  \
0        None  None  None   None  None  None  None      None      None
1  Finishers:   191  None   None  None  None  None      None      None
2       Male:    78  None   None  None  None  None      None      None
3     Female:   113  None   None  None  None  None      None      None
4        None  None  None   None  None  None  None      None      None

  Gender Place Age Group Age Group Place Time to Start Gun Time
0         None      None            None          None     None
1         None      None            None          None     None
2         None      None            None          None     None
3         None      None            None          None     None
4         None      None            None          None     None

In [51]:
df.dropna()

,Place,Bib,Name,Gender,Age,City,State,Chip Pace,Chip Time,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
5,1,1191,\r\n\r\n MAX RANDOLPH\r\n\r...,M,29,WASHINGTON,DC,5:25,16:48,\r\n\r\n 1 of 78\r\n\r\n ...,M 21-39,\r\n\r\n 1 of 33\r\n\r\n ...,0:08,16:56
6,2,1080,\r\n\r\n NEED NAME KAISER R...,M,25,PORTLAND,OR,5:39,17:31,\r\n\r\n 2 of 78\r\n\r\n ...,M 21-39,\r\n\r\n 2 of 33\r\n\r\n ...,0:09,17:40
7,3,1275,\r\n\r\n DAN FRANEK\r\n\r\n...,M,52,PORTLAND,OR,5:53,18:15,\r\n\r\n 3 of 78\r\n\r\n ...,M 40-54,\r\n\r\n 1 of 27\r\n\r\n ...,0:07,18:22
8,4,1223,\r\n\r\n PAUL TAYLOR\r\n\r\...,M,54,PORTLAND,OR,5:58,18:31,\r\n\r\n 4 of 78\r\n\r\n ...,M 40-54,\r\n\r\n 2 of 27\r\n\r\n ...,0:07,18:38
9,5,1245,\r\n\r\n THEO KINMAN\r\n\r\...,M,22,,,6:17,19:31,\r\n\r\n 5 of 78\r\n\r\n ...,M 21-39,\r\n\r\n 3 of 33\r\n\r\n ...,0:09,19:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,187,1254,\r\n\r\n CYNTHIA HARRIS\r\n...,F,64,PORTLAND,OR,21:53,1:07:51,\r\n\r\n 110 of 113\r\n\r\n...,F 55+,\r\n\r\n 14 of 14\r\n\r\n ...,1:19,1:09:10
192,188,1085,\r\n\r\n EBONY LAWRENCE\r\n...,F,30,PORTLAND,OR,22:00,1:08:12,\r\n\r\n 111 of 113\r\n\r\n...,F 21-39,\r\n\r\n 53 of 53\r\n\r\n ...,0:58,1:09:10
193,189,1170,\r\n\r\n ANTHONY WILLIAMS\r...,M,39,PORTLAND,OR,22:19,1:09:11,\r\n\r\n 78 of 78\r\n\r\n ...,M 21-39,\r\n\r\n 33 of 33\r\n\r\n ...,0:08,1:09:19
194,190,2087,\r\n\r\n LEESHA POSEY\r\n\r...,F,43,PORTLAND,OR,30:17,1:33:53,\r\n\r\n 112 of 113\r\n\r\n...,F 40-54,\r\n\r\n 36 of 37\r\n\r\n ...,0:00,1:33:53
195,191,1216,\r\n\r\n ZULMA OCHOA\r\n\r\...,F,40,GRESHAM,OR,33:22,1:43:27,\r\n\r\n 113 of 113\r\n\r\n...,F 40-54,\r\n\r\n 37 of 37\r\n\r\n ...,0:00,1:43:27

In [52]:
df.shape[0]

196

In [53]:

df.to_csv('BS4.csv')

In [ ]:
import csv
import codecs
x = []
y = []
with open('BS4.csv','rb') as csvfile:
    lines = csv.reader(codecs.iterdecode(csvfile, 'utf-8'))
    for row in lines:
        x.append(row[0])
        y.append(row[1])
        plt.plot(x, y, color = 'g', linestyle = 'dashed')
        plt.grid()
        plt.legend()
        plt.show()

In [ ]:
plt.scatter(column='Age', by='Gender')
plt.ylabel('cyx')